Makefile*
!Makefile-ircbot.am
!Makefile-mauibuild.am
!Makefile-tests.am
!data/Makefile.am
!data/polkit/Makefile.am
!doc/Makefile.am
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in*
config.log
config.status
configure
/mauibuild
/mauibuild-compile-one
/mauibuild-ircbot
/data/polkit/org.maui.mauibuild.policy
stamp-h1
twistd.pid
