Makefile*
!Makefile-mauibuild.am
!Makefile-tests.am
!doc/Makefile.am
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in*
config.log
config.status
configure
/mauibuild
/mauibuild-compile-one
stamp-h1
